<ion-content text-center>
  <div class="m-cover-img">
    <ion-header no-border style="background-color: rgba(0,0,0,0.2);">
      <ion-toolbar>
        <ion-title>Home</ion-title>
      </ion-toolbar>
    </ion-header>
  </div>
  <ion-list>
    <ion-item *ngFor="let file of _fileList; let i = index">
      <ion-thumbnail slot="start" (click)="play(file, i)">
        <ion-icon name="{{iconPP}}"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        <h2>{{file.name}}</h2>
        <h3>{{file.path}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
